* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 /*outline: solid cyan;*/
}

body {
  font-size: 2vmin;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: #333;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
/* ---------- HEADER + MENU ---------- */
.cabeçario {
  background-color: #CE4444;
  display: grid;
  grid-template-rows: auto auto;
  outline: solid black;
}

.header {
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vmin 2vmin;
  gap: 2vmin;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1vmin;
}

.logo img {
  width: 12vmin;
  height: 12vmin;
}

.barra-de-pesquisa {
  display: flex;
  align-items: center;
  gap: 1vmin;
}

.barra-de-pesquisa input {
  padding: 1vmin;
  border-radius: 10vmin;
  border: 1px solid #ccc;
  width: 30vmin;
  font-size: 1.8vmin;
}

.barra-de-pesquisa .botao-pesquisa {
  padding: 1vmin 2vmin;
  color: white;
  text-decoration: none;
  font-size: 1.8vmin;
}

.login-cadastro {
  display: flex;
  gap: 1vmin;
}

.login-cadastro button {
  padding: 1vmin 2vmin;
  border: none;
  border-radius: 0.5vmin;
  cursor: pointer;
}

.Login {
  background-color: black;
  color: white;
  text-decoration: none;
}

.Cadastro {
  background-color: white;
  color: black;
  border: 1px solid black;
  text-decoration: none;
}

/* ---------- MENU ---------- */

.menu {
  display: flex;
  justify-content: center;
  gap: 3vmin;
  padding: 1vmin;
  background-color: #D55A5A;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* ---------- CONTEÚDO PRINCIPAL ---------- */

.detalhes-produto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vmin;
  padding: 2vmin;
}

.coluna-esquerda {
  display: flex;
  flex-direction: column;
  gap: 2vmin;
}

.imagem-produto {
  width: 40%;
  aspect-ratio: 1 / 1;
  background-color: #eee;
  border: 2px solid black;
  border-radius: 2vmin;
}

.preco {
  font-size: 2.5vmin;
  font-weight: bold;
}

.botao-comprar {
  padding: 1.5vmin 4vmin;
  font-size: 2vmin;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 1vmin;
  cursor: pointer;
  width: fit-content;
}

.coluna-direita {
  border-left: 1px solid black;
  padding-left: 3vmin;
}

.coluna-direita h2 {
  font-size: 3vmin;
  margin-bottom: 2vmin;
}

.coluna-direita p {
  font-size: 2vmin;
}

.footer {
  background-color: #A3A4A0;
  display: flex;
  justify-content: center;
  padding: 3vmin;
  font-size: 1.8vmin;
  gap: 3rem;
  color: black;
}

.footer .coluna {
  max-width: 50%;
}

/* ---------- RESPONSIVIDADE ---------- */

@media (max-width: 768px) {
  .detalhes-produto {
    grid-template-columns: 1fr;
    padding: 2vmin;
  }

  .coluna-direita {
    border-left: none;
    padding-left: 0;
    margin-top: 3vmin;
  }

  .imagem-produto {
    width: 100%;
  }

  .botao-comprar {
    width: 100%;
    text-align: center;
  }
}